{% extends 'login.html' %}

{% block h2 %}
  注册会员
{% endblock %}

{% block anchor %}
  <a href="{% url 'login' %}">会员登录</a>
{% endblock %}

{% block form %}
  <form id="formReg" action="xxx" method="post">
    {% csrf_token %}
    <!-- 1.手机号 -->
    <div id="" class="form-line">
      <p>手机号</p>
      <div id="" class="">
        <input class="form-control" type="text" name="uphone">
        <span id="uphone-show"></span>
      </div>
    </div>
    <!-- 2.密码-->
    <div id="" class="form-line">
      <p>密码</p>
      <div id="" class="">
        <input class="form-control" type="password" name="upwd">
      </div>
    </div>
    <!-- 3.确认密码-->
    <div id="" class="form-line">
      <p>确认密码</p>
      <div id="" class="">
        <input class="form-control" type="password" name="cpwd">
      </div>
    </div>
    <!-- 4.用户名　-->
    <div id="" class="form-line">
      <p>用户名</p>
      <div id="" class="">
        <input class="form-control" type="text" name="uname">
      </div>
    </div>
    <!-- 5.邮箱-->
    <div id="" class="form-line">
      <p>邮箱</p>
      <div id="" class="">
        <input class="form-control" type="email" name="uemail">
      </div>
    </div>
    <!-- 6.按钮行-->
    <div id="" class="form-line">
      <p></p>
      <div id="" class="">
        <input class="loginBtn btn" type="submit" value="注册"><input class="registBtn btn" type="button" value="会员登录" id="btnLogin">
      </div>
    </div>
  </form>
{% endblock %}

{% block style %}
  <style>
    #regist>form{
      margin-top:20px;
    }
  </style>
{% endblock %}

{% block js %}
  <script>
    $(function(){

      //声明一个变量用来记录uphone的存在状态
      var phoneStatus = 1;

      // 点击btnLogin的时候跳转到login地质处
      $("#btnLogin").click(function(){
        location.href='{% url 'login' %}';
      });

      /**为name=uphone的框绑定blur事件*/
      $("[name='uphone']").blur(function(){
        if($(this).val().trim().length == 0)
          return;
        $.get('/check_uphone/',{
          'uphone':$(this).val()
        },function(data){
          $("#uphone-show").html(data.msg);
          phoneStatus = data.status;
        },'json');
      });
      /**为表单绑定submit事件*/
      $("#formReg").submit(function(){
        if(phoneStatus == 1){
          return false;
        }
        return true;
      });
    });
  </script>
{% endblock %}







